# Project exclude paths
/target/
/.idea/*
/library/sr
/library/target/classes/launcher/Application.class
/library/target/classes/calculator/Calc.class
/library/target/classes/calculator/Calculator.class
/library/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/library/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/library/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/library/target/library.jar
/library/target/maven-archiver/pom.properties

